@page "/"

<PageTitle>d20 Testing Grounds</PageTitle>

<div>
    <div class="flex flex-row mb-8">
        <h2 class="text-4xl font-medium">Saved Scenarios</h2>
        <div class="grow"></div>
        <a href="@MyRoutes.NewScenarioRoute" class="bg-transparent hover:bg-purple-500 text-purple-700 font-semibold hover:text-white py-2 px-4 border border-purple-500 hover:border-transparent rounded">NEW SCENARIO</a>
    </div>
    <button @onclick="() => throw new Exception()">error</button>
    <SavedScenariosView />
</div>

@code {
}
