@page "/scenario-setup"
@using d20TG.Features.ScenarioSetup.Services
@using d20TG.Features.ScenarioSetup.Model
@inject ICombatScenarioRepository ScenarioRepository
@inject IMyNavigationManager MyNavigation

<PageTitle>Scenario | d20 Testing Grounds</PageTitle>

<div>
    <CombatScenarioSetup OnSaveAndRunCallback="HandleSaveAndRunAsync" OnSaveAndExitCallback="HandleSaveAndExitAsync" />
</div>


@code {
    private async Task HandleSaveAndRunAsync(CombatScenario combatScenario)
    {
        var scenarioGuid = await ScenarioRepository.SaveScenarioAsync(combatScenario);
        MyNavigation.NavigateToSimulation(scenarioGuid);
    }

    private async Task HandleSaveAndExitAsync(CombatScenario combatScenario)
    {
        await ScenarioRepository.SaveScenarioAsync(combatScenario);
        MyNavigation.NavigateToHome();
    }

}