@using d20TG.Features.ScenarioSetup.Services
@using d20TG.Features.ScenarioSetup.State
@attribute [Route(MyRoutes.ScenarioSimulationRoute)]
@inject ICombatScenarioRepository ScenarioRepository

<h3>ScenarioSimulation</h3>

<CombatScenarioStateView ScenarioState="@_scenarioState" />


@code {
    [Parameter]
    public string? ScenarioId { get; set; }

    private CombatScenarioState _scenarioState;
    
    protected override void OnParametersSet()
    {
        base.OnParametersSet();

        if (ScenarioId != null)
        {
            _scenarioState = ScenarioRepository.GetScenarioState(ScenarioId) ?? new CombatScenarioState();
        }
    }

}