@page "/scenario-setup"
@using d20TG.Features.Scenarios.Model
@using d20TG.Features.Scenarios.Services
@inject ICombatScenarioRepository ScenarioRepository
@inject IMyNavigationManager MyNavigation

<PageTitle>Scenario | d20 Testing Grounds</PageTitle>

<h2 class="text-4xl font-semibold mb-2">CombatScenario</h2>

<CombatScenarioForm OnSaveAndRunCallback="HandleSaveAndRunAsync" OnSaveAndExitCallback="HandleSaveAndExitAsync" />


@code {
    private async Task HandleSaveAndRunAsync(CombatScenario combatScenario)
    {
        var scenarioGuid = await ScenarioRepository.SaveScenarioAsync(combatScenario);
        MyNavigation.NavigateToSimulation(scenarioGuid);
    }

    private async Task HandleSaveAndExitAsync(CombatScenario combatScenario)
    {
        await ScenarioRepository.SaveScenarioAsync(combatScenario);
        MyNavigation.NavigateToHome();
    }

}