@page "/scenario-setup"
@using d20TG.Features.ScenarioSetup.Services
@using d20TG.Features.ScenarioSetup.State
@inject ICombatScenarioRepository ScenarioRepository
@inject IMyNavigationManager MyNavigation

<PageTitle>Scenario | d20 Testing Grounds</PageTitle>

<div>
    <CombatScenario OnSaveAndRunCallback="HandleSaveAndRun" OnSaveAndExitCallback="HandleSaveAndExit" />
</div>


@code {
    private void HandleSaveAndRun(CombatScenarioState combatScenarioState)
    {
        var scenarioGuid = ScenarioRepository.SaveScenario(combatScenarioState);
        MyNavigation.NavigateToSimulation(scenarioGuid);
    }

    private void HandleSaveAndExit(CombatScenarioState combatScenarioState)
    {
        var scenarioGuid = ScenarioRepository.SaveScenario(combatScenarioState);
        MyNavigation.NavigateToHome();
    }

}