<div>
    <h4>
        <button type="button"
                @onclick="HandleButtonClick"
                class="flex items-center justify-between w-full p-1 font-medium text-left text-gray-500 border @(Collapsed ? "" : "border-b-0") border-gray-200 hover:bg-gray-100"
                aria-expanded="true"
                aria-controls="accordion-collapse-body">
            <span>@Title</span>
            <svg data-accordion-icon
                 class="w-3 h-3 @(Collapsed ? "rotate-90" : "rotate-180") shrink-0"
                 aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5"/>
            </svg>
        </button>
    </h4>
    @if (!Collapsed)
    {
        <div class="border border-t-0">
            @ChildContent
        </div>
    }
</div>

@code {

    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Collapsed { get; set; } = true;

    [Parameter]
    public string Title { get; set; } = string.Empty;

    void Toggle()
    {
        Collapsed = !Collapsed;
    }

    private void HandleButtonClick()
    {
        Toggle();
    }

}