<div class="border rounded-xl p-2 flex flex-col">
    <h4 class="text-2xl mb-2 text-center">Simulation Runs</h4>
    <div class="flex flex-row items-center justify-center mb-2">
        <input id="combat-runs"
               type="number"
               min="1"
               max="100"
               @bind="_sampleSize"
               class="bg-gray-50 border border-gray-300 text-gray-900 text-2xl rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"/>
    </div>
    <div>
        <button @onclick="HandleRerunClick"
                class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:ring-purple-300 font-medium rounded-lg px-5 py-2.5 focus:outline-none w-full flex flex-row justify-center">
            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 20">
                               <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 1v5h-5M2 19v-5h5m10-4a8 8 0 0 1-14.947 3.97M1 10a8 8 0 0 1 14.947-3.97"/>
                           </svg>
        </button>
    </div>
</div>

@code {

    private int _sampleSize;

    [Parameter, EditorRequired]
    public int InitialValue { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<int> OnRerunSampleClickCallback { get; set; }

    protected override void OnParametersSet()
    {
        _sampleSize = InitialValue;
    }

    private async Task HandleRerunClick()
    {
        await OnRerunSampleClickCallback.InvokeAsync(_sampleSize);
    }

}