@using d20TG.Features.Simulations.Model

<div class="border rounded-xl p-4">
    <h4 class="text-2xl mb-2 text-center">Simulation Runs</h4>
    
    @foreach (var run in Runs)
    {
        <Accordion Title="@($"#{run.Id} | Rounds taken: {run.Rounds.Count} | DPR: {run.DamagePerRound:f2}")">
            <CombatSimulationCourse SimulationRun="run"/>
        </Accordion>
    }
</div>

@code {

    [Parameter, EditorRequired]
    public List<SimulationRun> Runs { get; set; }
    
}