@tailwind base;
@tailwind components;
@tailwind utilities;

#blazor-error-ui {
    display: none;
}

h1:focus {
    outline: 0px;
    animation: yellowFade 1s forwards;
}

@keyframes yellowFade {
    from { background: lightYellow; }
    to   { background: white; }
}

input.invalid {
    border-color: red;
    border-width: 2px;
}