@using d20TG.Domain
@using d20TG.Features.ScenarioSetup.Services
@using d20TG.Features.ScenarioSetup.State
@inject ICombatScenarioService ScenarioService

<h4>DamageDice</h4>

@if (State != null)
{
    <input type="number" min="1" max="100" value="@State.diceCount"/>
    <label>
        d
        <select type="" value="@State.diceType" @onchange="DiceTypeChangeCallback">
            @foreach (var value in Enum.GetValues<DiceType>()) {
                    <option value="@value">@value</option>
                }
        </select>
    </label>
}

@code {
    [Parameter, EditorRequired]
    public DamageDiceState? State { get; set; }

    private void DiceTypeChangeCallback(ChangeEventArgs eventArgs)
    {
        Enum.TryParse((string?)eventArgs.Value, out DiceType diceType);
        ScenarioService.SetDamageDiceType(diceType);
    }

}