@using d20TG.Features.ScenarioSetup.State

<h3 class="text-3xl">Defenders</h3>

@if (DefenderBuilds != null)
{
    <div class="flex flex-row">
        <DefenderBuildInput State="@DefenderBuilds[0]" OnDefenderBuildStateChangeCallback="HandleDefenderBuildStateChangeAsync" />
    </div>
}

@code {
    [Parameter, EditorRequired] 
    public DefenderBuildState[]? DefenderBuilds { get; set; }
    
    [Parameter, EditorRequired]
    public EventCallback<DefenderBuildState> OnDefenderBuildStateChangeCallback { get; set; }

    private async Task HandleDefenderBuildStateChangeAsync(DefenderBuildState defenderBuildState)
    {
        await OnDefenderBuildStateChangeCallback.InvokeAsync(defenderBuildState);
    }

}