@using d20TG.Features.ScenarioSetup.State
@using d20TG.Features.ScenarioSetup.Services
@inject ICombatScenarioService ScenarioService

<h3>DefenderBuild</h3>

@if (State != null)
{
    <label>
        Hit Points
        <input type="number" min="0" max="1000" value="@State.hitPoints" @onchange="HitPointsChangeCallback"/>
    </label>
    <label>
        Armor Class
        <input type="number" min="-100" max="100" value="@State.armorClass" @onchange="ArmorClassChangeCallback"/>
    </label>
}

@code {
    [Parameter, EditorRequired]
    public DefenderBuildState? State { get; set; }

    private void HitPointsChangeCallback(ChangeEventArgs eventArgs)
    {
        ScenarioService.SetHitPoints((int)(eventArgs.Value ?? 10));
    }

    private void ArmorClassChangeCallback(ChangeEventArgs eventArgs)
    {
        ScenarioService.SetArmorClass((int)(eventArgs.Value ?? 10));
    }

}