@using d20TG.Features.ScenarioSetup.State
<h3>Defenders</h3>

@if (State != null)
{
    <DefenderBuild State="@State[0]" />
}

@code {
    [Parameter, EditorRequired] 
    public DefenderBuildState[]? State { get; set; }
}